
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/ksyun/index.html">ksyun Provider</a>
                </li>
                
                <li>
                    <a href="#">Provider Data Sources</a>
                    <ul class="nav">
                        <li>
                            <a href="/docs/providers/ksyun/d/availability_zones.html">ksyun_availability_zones</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Bare Metal</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/bare_metal_images.html">ksyun_bare_metal_images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/bare_metal_raid_attributes.html">ksyun_bare_metal_raid_attributes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/bare_metals.html">ksyun_bare_metals</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/bare_metal.html">ksyun_bare_metal</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EIP</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/bwses.html">ksyun_bwses</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/eips.html">ksyun_eips</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/bws.html">ksyun_bws</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/bws_associate.html">ksyun_bws_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/eip.html">ksyun_eip</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/eip_associate.html">ksyun_eip_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">KCM</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/certificates.html">ksyun_certificates</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/certificate.html">ksyun_certificate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">SLB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/lb_backend_server_groups.html">ksyun_lb_backend_server_groups</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPC</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/vpcs.html">ksyun_vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/vpc.html">ksyun_vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
