
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/ksyun/index.html">ksyun Provider</a>
                </li>
                
                <li>
                    <a href="#">Provider Data Sources</a>
                    <ul class="nav">
                        <li>
                            <a href="/docs/providers/ksyun/d/availability_zones.html">ksyun_availability_zones</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Bare Metal</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/bare_metal_images.html">ksyun_bare_metal_images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/bare_metal_raid_attributes.html">ksyun_bare_metal_raid_attributes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/bare_metals.html">ksyun_bare_metals</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/bare_metal.html">ksyun_bare_metal</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EIP</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/bwses.html">ksyun_bwses</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/eips.html">ksyun_eips</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/lines.html">ksyun_lines</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/bws.html">ksyun_bws</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/bws_associate.html">ksyun_bws_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/eip.html">ksyun_eip</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/eip_associate.html">ksyun_eip_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Instance(KEC)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/images.html">ksyun_images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/instances.html">ksyun_instances</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/instance.html">ksyun_instance</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">KCM</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/certificates.html">ksyun_certificates</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/certificate.html">ksyun_certificate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">KRDS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/krds.html">ksyun_krds</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/krds_security_groups.html">ksyun_krds_security_groups</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/krds.html">ksyun_krds</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">MongoDB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/mongodbs.html">ksyun_mongodbs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">SLB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/health_checks.html">ksyun_health_checks</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/lb_acls.html">ksyun_lb_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/lb_backend_server_groups.html">ksyun_lb_backend_server_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/lb_host_headers.html">ksyun_lb_host_headers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/lb_listener_servers.html">ksyun_lb_listener_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/lb_rules.html">ksyun_lb_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/lbs.html">ksyun_lbs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/listeners.html">ksyun_listeners</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/healthcheck.html">ksyun_healthcheck</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/lb.html">ksyun_lb</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/lb_acl.html">ksyun_lb_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/lb_acl_entry.html">ksyun_lb_acl_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/lb_backend_server_group.html">ksyun_lb_backend_server_group</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPC</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/nats.html">ksyun_nats</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/network_acls.html">ksyun_network_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/network_interfaces.html">ksyun_network_interfaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/routes.html">ksyun_routes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/subnets.html">ksyun_subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/d/vpcs.html">ksyun_vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/nat.html">ksyun_nat</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/nat_associate.html">ksyun_nat_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/network_acl.html">ksyun_network_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/network_acl_associate.html">ksyun_network_acl_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/network_acl_entry.html">ksyun_network_acl_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/route.html">ksyun_route</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/subnet.html">ksyun_subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/vpc.html">ksyun_vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Volume(EBS)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/d/volumes.html">ksyun_volumes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/ksyun/r/volume.html">ksyun_volume</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/ksyun/r/volume_attach.html">ksyun_volume_attach</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
